/* Telescope Observation Constraint Visualization Tool */

/* Due in part to the original code compilation through LISP,
many of the formatting parameters are found in script.js.
However, the below parameters were necessary for proper scaling. */

body, html {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100vw;
}
